*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: white;
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body{
    padding-top: 90px;
}

.logo img{
    width: 70px;
    
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a{
    color: black;
    font-size: 14px;
}

.div-right{
    display: flex;
    gap: 18px;
    font-size: 18px;
}




/* .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0px;
    
}

.box{
  width: 50%;
}

.box img{
    width:100%;
    height: auto;
    display: block;
}

.box1 img{
    width:695px;
    height:auto;
    margin: 0px;
    padding:0px;
} */

.big{
  display: grid;
}
.big img{
  display:inline-flex;
  width: 1383px;
}
.new{
    display: flex;
    height: 50px;   
}


    
 
  .products{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 0px; 
    padding:0px;
}

.products img{
    width: 100%;
    display: block;
}



 h3{
     font-size: 14px;
  font-weight: 100;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 20px;
 }
.image{
 
  display: inline-flex;
    justify-content: space-between;
    width: max-content;
    height: max-content;
}
 .img17 img{
  
  width: 420px;
  height: auto;
  margin-left: 275px;
  margin-top: 0px;
 }

 .text1{ font-size: 14px;
  font-weight: 100;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 275px;
  color: #000 ;

 }
 .small1{
  font-size: 12px;
  font-weight: 100;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 275px;
  color: #000 ;

 }
  


 .img18 img{
  
  width: 420px;
  height: auto;
  margin-left: 0px;
  margin-top: 0px;

 }
 .text2{ font-size: 14px;
  font-weight: 100;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0px;
  color: #000 ;

 }
 .small2{
  font-size: 12px;
  font-weight: 100;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0px;
  color: #000 ;}
 
 


 /* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* FOOTER */
.hm-footer {
  background: #fff;
  padding: 80px 60px 40px;
  color: #000;
}

/* GRID LAYOUT */
.hm-footer-top {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

/* HEADINGS */
.hm-col h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* LINKS */
.hm-col a {
  display: block;
  font-size: 13px;
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
}

.hm-col a:hover {
  text-decoration: underline;
}

/* NEWSLETTER */
.hm-news p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.read-more {
  font-size: 13px;
  /* font-weight: ; */
  text-decoration: underline;
  color: #000;
}

/* BOTTOM */
.hm-footer-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hm-logo {
  font-size: 42px;
  font-weight: 900;
  letter-spacing: -2px;
}

.hm-region {
  font-size: 14px;
  font-weight: 700;
}

.hm-region a {
  margin-left: 8px;
  font-weight: 0;
  text-decoration: underline;
  color: #000;
}


#menu-toggle{
    display: none;
}

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span{
    width: 25px;
    height: 3px;
    background: black;
    margin: 4px 0;
}



@media (max-width: 768px){

    .hamburger{
        display: flex;
    }

    .nav-links{
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        display: none;
    }

    #menu-toggle:checked ~ .nav-links{
        display: flex;
    }

    .div-right{
        font-size: 16px;
    }

    /* PRODUCTS GRID */
    .products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .products img{
        width: 100%;
    }

    /* IMAGE SECTIONS */
    .image{
        flex-direction: column;
        align-items: center;
    }

    .img17 img,
    .img18 img{
        width: 90%;
        margin-left: 0;
    }

    .text1,
    .small1,
    .text2,
    .small2{
        margin-left: 0;
        text-align: center;
    }

    /* FOOTER */
    .hm-footer-top{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .hm-footer-bottom{
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}


